#root {
  padding: 1.5rem;
}

header {
  padding-bottom: 2rem;
}

#header-text {
  font-size: 1.75rem;
  font-weight: 500;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.index-item {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.pad-y-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
