#root {
  padding: 1.5rem;
}

#header-text {
  font-size: 1.75rem;
  font-weight: 500;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.index-item {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.pad-t-8 {
  padding-top: 2rem;
}

.pad-y-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.main {
  max-width: 1024px;
}
