#root {
  padding: 1.5rem;
}

#header-text {
  font-size: 1.75rem;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.index-item {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.pad-t-8 {
  padding-top: 2rem;
}

.pad-y-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.main {
  margin: 0 auto;
  max-width: 1024px;
}

.signup-signin-form {
  margin: 2rem auto;
  max-width: 1024px;

  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.col-span-full {
  grid-column: 1 / -1;
}

input {
  padding: 0.25rem;
}

.flex {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.button-1 {
  padding: 0.25rem 0.75rem;
}

.text-gray {
  color: #AAA;
}

#signup-link-login-page, #login-link-signup-page {
  color: #AAA;
  text-align: center;
}
